.signup__form{
    display: flex;
    flex-direction: column;
    width: 22.6rem;
    height: 13.1rem;
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    background-color:#292929;
    padding-top: 1rem;
}

.signup__form--error{
    @extend .signup__form;
    height: 16.5rem;
    padding-top: 0rem;
}

.signup__form__erromessage{
    color: #fff;
    font-size: 0.9rem;
    padding: 1rem;
    p{
        text-align: center;
        border: 0.05rem solid #ff1744;
        border-radius: 0.2rem;
        padding: 0.3rem;
    }
}

.signup__input{
    height: 2.8rem;
    color:#fff;
    background-color: #474747;
    margin-bottom: 0.05rem;
    border: none;
    font-size: 1.1rem;
    padding-left: 1.5rem;
    &::placeholder{
        font-size: 1.1rem;
    }
    &:focus{
        outline: none;
        border-bottom: 0.05rem solid #d500f9;
        background-color: #4d4d4d;
    }
    &:hover{
        background-color: #4d4d4d;
    }
}

.signup__form__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    button:nth-of-type(1){
        border: 1px solid #2979FF;
        margin-left: 1rem;
        &:hover{
            background-color:  #2979FF;
        }
    }
    button:nth-of-type(2){
        border: 1px solid #FF9100;
        margin-right: 1rem;
        &:hover{
            background-color:  #FF9100;
        }
    }
}

.signup__form__button{
    background: none;
        color: white;
        border-radius: 0.2rem;
        height: 1.5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        text-decoration: none;
        cursor: pointer;
}

.signup-form-login{
    height: 2rem;
    width: 22.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #7a7a7a;
    font-size: 0.9rem;
    margin-top: 0.05rem;
    text-decoration: none;
    span{
        text-decoration: none;
        color: white;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    &:hover{
        background-color: rgb(43, 43, 43);
        cursor: pointer;
        a{
            text-decoration: underline;
        }
    }
}

.signup__form__terms{
    width: 22.6rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #7a7a7a;
    a{
        color: white;
        text-decoration: none;
    }
}